body {
  margin: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

rect {
  fill: #3192ee7e;
}

text {
  font-size: 1.5em;
}

svg {
  margin: 0px 10px;
  padding: 12px;
  border: #0ebbff solid 5px;
  border-radius: 8px;
}
